/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


section.slider{
  position: relative;  
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #8c52ff;

}

.swiper{
  width: 1000px;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  height: 400px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}


.swiper-pagination{
  position: absolute;
  top: 450px;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: white;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: white;
}
